apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: <aws_account_id>.dkr.ecr.us-east-1.amazonaws.com/backend-app:latest
          ports:
            - containerPort: 5000
